@page "/blogs"
@page "/blogs/{Page:int}"
@inject AppState AppState
@inject BlogService BlogService
@inject GuardService GuardService
@inject IJSRuntime JS

@if (AppState.Blogs == null || AppState.Blogs.Count <= 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="width: 100%">
        <div class="card">
            <div class="card-body">
                <table id="blogs" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Desc</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blog in @AppState.Blogs)
                        {
                            <tr>
                                <td>@blog.Id</td>
                                <td>@blog.Title</td>
                                <td>@blog.Description</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Desc</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
}

@code {
    [Parameter]
    int Page { get; set; } = 1;

    protected override async Task OnInitAsync()
    {
        await GuardService.Check();
        var pages = await BlogService.GetBlogs(Page);
        AppState.SetBlogs(pages.Items);
    }

    protected override async Task OnAfterRenderAsync()
    {
        await JS.BindBlogDataTableAsync();
    }
}