@page "/"
@inject IJSRuntime JS

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<MatButton Raised="true" OnClick="@LogIn">Login</MatButton>
<MatButton Outlined="true" OnClick="@LogOut">Logout</MatButton>

@functions {
    async Task LogIn()
    {
        await JS.SignInAsync();
    }

    async Task LogOut()
    {
        await JS.SignOutAsync();
    }
}