@page "/profile"
@inject IJSRuntime JS
@inject GuardService GuardService

<h1>Profile information</h1>
<p>
    <MatTextField Disabled="true"
                  FullWidth="true"
                  Value="@(userProfileModel.Name ?? string.Empty)"
                  Label="Name">
    </MatTextField>
</p>
<p>
    <MatTextField Disabled="true"
                  FullWidth="true"
                  Value="@(userProfileModel.Email ?? string.Empty)"
                  Label="Email">
    </MatTextField>
</p>
<p>
    <MatTextField Disabled="true"
                  FullWidth="true"
                  Value="@(userProfileModel.Website ?? string.Empty)"
                  Label="Website">
    </MatTextField>
</p>

@code {
    UserProfileModel userProfileModel = new UserProfileModel();
    protected override async Task OnInitAsync()
    {
        await GuardService.Check();

        var userModel = await JS.GetUserInfoAsync();
        userProfileModel = userModel.Profile;
        StateHasChanged();
    }
}
