@page "/"
@page "/{Page:int}"
@layout NoLayout
@inject PostService PostService

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">My Blog</h1>
        <p class="lead">This is my blog.</p>
        <NavLink href="/dashboard">Go to dashboard</NavLink>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @foreach (var post in Posts)
            {
                <!-- Post -->
                <div class="post">
                    <div class="user-block">
                        <h1>
                            <a href="/post/@post.Id">@post.Title</a>
                        </h1>
                        <div>Created at @post.CreatedAt</div>
                    </div>
                    <!-- /.user-block -->
                    <p>
                        @post.Excerpt...
                    </p>
                    <p>
                        @RenderTag(post.Id)
                    </p>
                    <p>
                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                        <span class="float-right">
                            <NavLink href="#" class="link-black text-sm">
                                <i class="far fa-comments mr-1"></i> Comments (5)
                            </NavLink>
                        </span>
                    </p>
                </div>
                <!-- /.post -->
            }
        </div>
    </div>
</div>

<div class="container-fluid" style="padding: 50px 30px 10px;">
    <footer>
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.0-beta.1
        </div>
        <strong>Copyright &copy; 2014-2018 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
        reserved.
    </footer>
</div>

@code {
    [Parameter] int Page { get; set; } = 1;

    List<PostDto> Posts = new List<PostDto>();
    MapField<string, PostTagsDto> PostTags = new MapField<string, PostTagsDto>();

    protected override async Task OnInitAsync()
    {
        var resultModel = await PostService.GetPostsByBlog(Guid.NewGuid(), Page);
        Posts = resultModel.Data.Posts.ToList();
        PostTags = resultModel.Data.TagFragment;
    }

    MarkupString RenderTag(string postId)
    {
        var result = PostTags
            .Where(x => x.Key == postId)
            .Select(x => x.Value)
            .SelectMany(x => x.Tags)
            .Select(x => x?.Name)
            .Aggregate("", (r, x) => r + string.Format("<span class=\"badge badge-info\">{0}</span>", x));

        return (MarkupString)result;
    }
}