@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject AppState AppState

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@((e) => HideMenuClicked())"></MatIconButton>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <LoginDisplay />
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer>
            <MatDrawer Opened="@Opened">
                <NavMenu />
            </MatDrawer>
            <MatDrawerContent>
                <div class="mat-layout-grid">
                    @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code {
    bool Opened = true;

    protected override async Task OnInitAsync()
    {
        AppState.SetUserInfo(await JS.GetUserInfoAsync());
    }

    void HideMenuClicked()
    {
        Opened = !Opened;
    }
}
