@inject IJSRuntime JS
@inject AppState AppState

<AuthorizeView>
    <Authorized>
        <div class="image">
            <img src="img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <NavLink class="d-block" href="profile" Match="NavLinkMatch.All">@context.User.Identity.Name</NavLink>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {
    
}
