@inherits LayoutComponentBase

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@((e) => HideMenuClicked())"></MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer>
            <MatDrawer bind-Opened="@Opened">
                <NavMenu />
            </MatDrawer>
            <MatDrawerContent>
                <div class="mat-layout-grid">
                    @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@functions
{
    bool Opened = true;

    void HideMenuClicked()
    {
        Opened = !Opened;
    }

}