<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        <li class="nav-item">
            <NavLink class="nav-link" href="dashboard">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Dashboard
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="blogs">
                <i class="nav-icon fas fa-blog"></i>
                <p>
                    Blogs
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="posts">
                <i class="nav-icon fas fa-atlas"></i>
                <p>
                    Posts
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="settings">
                <i class="nav-icon fas fa-cogs"></i>
                <p>
                    Settings
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                    Front Page
                </p>
            </NavLink>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->
