@inject IJSRuntime JS

<CascadingAuthenticationState>
    <CascadingAppState>
        <Router AppAssembly="typeof(Startup).Assembly">
            <NotFoundContent>
                <p>Sorry, there's nothing at this address.</p>
            </NotFoundContent>
            <NotAuthorizedContent>
                <div class="container-fluid">
                    <h1 class="text-danger text-uppercase">Access denied</h1>
                    <p class="text-uppercase">Only logged-in user may access this area.</p>
                    <p>Click <a class="p-1 bg-success text-white" @onclick="@Login">HERE</a> for sign-in.</p>
                </div>
            </NotAuthorizedContent>
        </Router>
    </CascadingAppState>
</CascadingAuthenticationState>

@code {
    async Task Login()
    {
        await JS.SignInAsync();
    }
}